RUST_LOG=info
FLIGHT_ADDR=0.0.0.0:50051
S3_ENDPOINT=http://127.0.0.1:9000
S3_BUCKET=arrow-flight
S3_REGION=us-east-1
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_ALLOW_HTTP=true
PARQUET_COMPRESSION=uncompressed
PARQUET_DICTIONARY=false
PARQUET_MAX_ROW_GROUP_ROWS=1048576
PARQUET_WRITE_BATCH_SIZE=65536
PARQUET_FLUSH_THRESHOLD_BYTES=268435456
S3_MULTIPART_PART_SIZE=67108864
S3_MULTIPART_MAX_CONCURRENCY=16
PUT_PARALLELISM=4
PUT_QUEUE_DEPTH=2
FLIGHT_MAX_MESSAGE_SIZE=268435456
FLIGHT_DATA_CHUNK_SIZE=16777216
